#btnDiv{
    display: flex;
    justify-content:space-around;
    margin: 5%;
    
}

#addBtn{
    padding: 10px;
    margin: 10%;    
    border-radius: 5px;
    width:fit-content;
    color: #EDB987;
    background-color: #1C514F;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}


#divImg{
    display: flex;
    justify-content: center;
    padding: 50%;
}

img{
    width: 30vh;
    border-radius: 100px;
}

#calculateDiv{
   border: 2px solid #1C514F;
   border-radius: 10px;
   padding: 20px;
   background-color: #EDB987;
   display: flex;
   justify-content: space-between;
   margin: 3% ;
   margin-top: 10%;
   align-items: center;
}

#tipDiv{
    padding: 5px;
    width: fit-content;;
}

#tipsLabel{
    color: #1C514F;
    font-size: 1.4em;
}

#tipsInput{
    width: 40px;
    margin-left: 10px;
    color: #1C514F;
}

#calculateBtn{
    width: 25%;
    height: 40px;
    background-color: #1C514F;
    border-radius: 5px;
    color: #EDB987;
}
    
