


#moneyHoursDiv{
    border: 2px solid #1C514F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 3%;
    background-color: #BA4435;
    color:#AFD8DC

}

#workerListDiv{
  margin: 3%;
  border-radius: 10px;
  border: 2px solid ;
  background-color: #1C514F;
  color: #EDB987;
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
  justify-content: center;

}

.workerElement{
    padding: 5px;
    border-bottom: 1px dashed #EDB987;
    width: 100%;
 
}